## MINAHIL SADIQ
### SP20-BCS-023

### QUESTION 1

In [40]:
#importing libraries
import pandas as pd
import numpy as np
from numpy.linalg import norm
import math
import warnings
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

In [6]:
#ignoring warnings
warnings.filterwarnings("ignore")

In [36]:
# three documents in single list
S1 = "sunshine state enjoy sunshine"
S2 = "brown fox jump high, brown fox run"
S3 = "sunshine state fox run fast"

phrases = [S1, S2, S3]
phrases

['sunshine state enjoy sunshine',
 'brown fox jump high, brown fox run',
 'sunshine state fox run fast']

In [37]:
#bag of words
#term frequency
vect = CountVectorizer()

In [38]:
bog = vect.fit_transform(phrases)

In [45]:
features = vect.get_feature_names_out()

In [46]:
tf = pd.DataFrame(bog.toarray(), columns=features)
print(tf)

   brown  enjoy  fast  fox  high  jump  run  state  sunshine
0      0      1     0    0     0     0    0      1         2
1      2      0     0    2     1     1    1      0         0
2      0      0     1    1     0     0    1      1         1

In [41]:
#term frequency- inverse document frequency
tfidf = TfidfTransformer()

In [42]:
xy = tfidf.fit_transform(bog)

In [50]:
matrix = xy.todense()
list = matrix.tolist()
tfidf_df = pd.DataFrame(list, columns=features)
tfidf_df

,brown,enjoy,fast,fox,high,jump,run,state,sunshine
0,0.000000,0.50689,0.000000,0.000000,0.000000,0.000000,0.000000,0.385503,0.771006
1,0.670703,0.00000,0.000000,0.510087,0.335352,0.335352,0.255044,0.000000,0.000000
2,0.000000,0.00000,0.549351,0.417796,0.000000,0.000000,0.417796,0.417796,0.417796

#### NOTE: The values did not match the values I get by manually solving the question, I tried to do it but did not find the correct way to handle this problem, But I have come across one website which says that "sklearn's TfidfVectorizer{TfidfTransformer} uses a different formula from the standard one which is normally either idf(t) = log [ n / df(t) ] or idf(t) = log [ n / (df(t) + 1) ] (denominator is adjusted to prevent zero divisions, if a term is not in the corpus).

### QUESTION 2

In [53]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

In [52]:
phrase = [S1 , S3]
phrase

['sunshine state enjoy sunshine', 'sunshine state fox run fast']

In [55]:
X = vect.fit_transform(phrase).toarray()

In [57]:
cos = cosine_similarity([X[0, :], X[1, :]])
cos

array([[1.        , 0.54772256],
       [0.54772256, 1.        ]])